<%= form_tag(organizations_path, method: :get) do %>
  <div>
    <%= label_tag "Filters" %>
  </div>
  <% Eligibility.all.each do |eligibility| %>
    <div>
      <%= check_box_tag("eligibilities[]", eligibility.name, false, :id => eligibility.id) %>
      <%= label_tag eligibility.id, eligibility.name %>
    </div>
  <% end %>
  <div class="form_submit_wrapper">
    <span class="form_options">
      <%= radio_button_tag("query_type", "inclusive", true) %>
      <%= label_tag "query_type_inclusive", "Apply Any" %>
    </span>
    <span class="form_options">
      <%= radio_button_tag("query_type", "exclusive", false) %>
      <%= label_tag "query_type_exclusive", "Apply All" %>
    </span>
    <%= submit_tag("Apply Filter", id: "form_submit") %>
  </div>
<% end %>